<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div wicket:id="boardView">
        <table border="1" style="border-spacing: 0">
            <tr wicket:id="boardRows">
                <td wicket:id="cols" style="padding: 0">
                    <a wicket:id="boardPieceLink" style="font-size: 0">
                        <img wicket:id="img" width="50px" height="50px" style="border:0; padding:0;vertical-align: top"/>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</wicket:panel>
</body>
</html>