<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div wicket:id="possiblePieces" style="border: 1px solid black">
        <wicket:label wicket:id="possibleLabel"></wicket:label>
        <table cellspacing="0" cellpadding="3" border="0">
            <tr wicket:id="possibleRows">
                <td wicket:id="cols">
                    <a wicket:id="placeLink">
                        <img wicket:id="possibleImg" width="50px" height="50px"></img>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</wicket:panel>
</body>
</html>