<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div style="border: 1px solid black">
        <wicket:label wicket:id="histogramLabel"></wicket:label>
        <table cellspacing="0" border="1">
            <tr wicket:id="histogramItem">
                <td><wicket:label wicket:id="histColor"/></td>
                <td><wicket:label wicket:id="histNumbers"/></td>
            </tr>
        </table>
    </div>
</wicket:panel>
</body>
</html>